/** style banner */
.banner{
    color: white;
    object-fit: contain;
    height: 448px;
}

/** style banner containing contents*/
.banner_contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

{/** Style banner_title*/}
.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}