/*Styles the positioing and layout of the images*/
.row_poster{
    display: flex;
}

/*Styles the width and size of images in img tag*/

.row_poster{
    object-fit: contain; /*keeps the expects ratio*/
    width: 100%;
    max-height: 100px;
    transition: transform 450ms;
}